* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aptos',sans-serif;
    line-height: 1.4em;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: .04rem;
}

h1, h2, h3,h4,h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

.container {
    max-width: 1366px !important;
}

.caption {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.rte p:last-child {
    margin-bottom: 0;
}

/* First Section */
#first-section .padding {
    padding-top: 32px;
    padding-bottom: 32px;
}

@media (min-width: 768px) {
    #first-section .padding {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    #first-section .first-sec-wrapper {
        max-width: 29rem;
    }
}

@media (max-width: 767px) {
    .gap-small-column-2 {
        gap: 2rem;
    }

    .gap-small-column-4 {
        gap: 4rem;
    }

    .h1, h1 {
        font-size: 2rem;
    }
}