* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aptos',sans-serif;
    line-height: 1.4em;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: .04rem;
}

h1, h2, h3,h4,h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

.container {
    max-width: 1366px !important;
}

.caption {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.rte p:last-child {
    margin-bottom: 0;
}
.section-padding-st {
    padding-top: 32px;
    padding-bottom: 32px;
}

.accent-1-bg {
    background-color: #d8cfc5;
}

.font-weight-semi {
    font-weight: 600;
}

.media {
    position: relative;
}

.media > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.small-text {
    font-size: 16px;
    line-height: 1.2em;
}

#sixth-section .logo-wrappers:not(.logo-wrappers-bottom) .wrapper-outer {
    max-width: 8rem;
    margin: auto;
}

#fourth-section .carousel-cell {
    width: 25%;
    padding: 0 10px;
}

#fourth-section .main-carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
}

.flickity-page-dots {
    list-style: none;
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

/* .dot {
    width: 10px;
    height: 10px;
    border: .5px solid black;
    border-radius: 50%;
}

.dot.is-selected {
    background: #000;
} */

.flickity-enabled.is-draggable {
    box-shadow: none;
    outline: none;
}

.logo-wrappers {
    max-width: 18rem;
}

.logo-wrappers-bottom {
    max-width: 29rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.object-contain * {
    object-fit: contain !important;
}

.logo-single {
    max-width: 7rem;
}

.logo-long {
    max-width: 18rem !important;
}

@media (min-width: 768px) {
    .main-carousel {
        display: flex;
        flex-wrap: wrap;
    }
    #fourth-section .main-carousel:after {
        content: '';
    }
    .section-padding-st {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    #first-section .first-sec-wrapper {
        max-width: 29rem;
        margin: auto;
    }
    #fifth-section .fifth-sec-wrapper {
        max-width: 29rem;
        margin: auto;
    }
    .second-sec-wrapper {
        max-width: 29rem;
        margin: auto;
    }
    #third-section .container {
        max-width: 1200px !important;
    }
    .description-section {
        max-width: 52rem;
    }

    #sixth-section .description-section {
        max-width: 57rem !important;
    }
}

@media (max-width: 767px) {
    #fourth-section .section-padding-st {
        padding-bottom: 50px;
    }
    #fourth-section .multicolumn-text h3 br {
        display: none;
    }
    #fourth-section .carousel-cell {
        width: 80%;
    }
    .h1, h1 {
        font-size: 1.6rem !important;
    }

    .gap-small-column-2 {
        row-gap: 2rem;
    }

    .gap-small-column-4 {
        gap: 4rem;
    }

    .h1, h1 {
        font-size: 2rem;
    }

    #third-section .multicolumn-text {
        padding-bottom: 0 !important;
    }
    body {
        line-height: 1.6em;
        font-size: 16px;
    }

    .logo-wrappers {
        max-width: 11rem;
    }
}